@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #bbe5fc;
    overflow-x: hidden;
}

#map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 70px);
}

.custom-bubble {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 18px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.custom-bubble-close {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px, 5px, 5px, 5px;
    border-radius: 5px;
    font-size: 20px;
}

.custom-bubble-close:hover {
    opacity: 1;
}

@keyframes bubble-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.custom-bubble {
    animation: bubble-animation 0.3s forwards;
}

@keyframes bubble-close-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.custom-bubble-closing {
    animation: bubble-close-animation 0.3s forwards;
}

.H_ib_tail {
    display: none;
}

.uni-title {
    margin-top: 10px;
    font-size: 20px;
}

.uni-title:hover {
    text-decoration: underline;
}

.uni-title-link {
    font-weight: bold;
    text-decoration: none;
    color: #2E8BC0;
}

.uni-title-link:hover {
    color: #2176d1;
}

.uni-title-link i {
    margin-top: 10px;
    margin-left: 10px;
}

.uni-title, .uni-title-link i {
    display: inline-block;
    vertical-align: middle;
}

.table-wrapper {
    width: calc(100% - 100px);
    padding: 0 50px;
    border-radius: 10px;
    overflow: hidden;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3%;
    margin-bottom: 3%;
}

.table-wrapper tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.table-wrapper tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table-wrapper tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-wrapper tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-wrapper th,
.table-wrapper td {
    padding: 20px;
}

.table-wrapper th {
    background-color: #30aef1;
    color: white;
    font-size: 20px;
}

.table-wrapper tr {
    min-height: 230px;
}

.table-wrapper tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-wrapper tr:nth-child(odd) {
    background-color: #fff;
}

.uni-logo {
    width: 150px;
    height: auto;
    max-height: 150px;
}

a i.fas {
    font-size: x-large;
    padding-bottom: 20px;
    transition: color 0.3s ease;  /* Animate color changes */
}

a i.fas.fa-edit {
    color: #007bff;  /* Change the color of the edit icon */
}

a i.fas.fa-trash-alt {
    color: #dc3545;  /* Change the color of the delete icon */
}

a:hover i.fas.fa-edit {
    color: #0056b3;  /* Change the color of the edit icon when hovered over */
}

a:hover i.fas.fa-trash-alt {
    color: #c82333;  /* Change the color of the delete icon when hovered over */
}

