{% extends 'base.html' %}
{% load static %}

{% block title %}
University Map
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Add University</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field-row">
            <div class="field">
                <label for="name">University Name</label>
                <input type="text" name="name" placeholder="Enter University name" value="{{ form_data.name|default_if_none:'' }}" required>
            </div>
            <div class="field">
                <label for="website">Website</label>
                <input type="text" name="website" placeholder="Enter URL of Website" value="{{ form_data.website|default_if_none:'' }}" required>
            </div>
        </div>
        <div class="field">
            <label for="location">Address</label>
            <input type="text" name="location" placeholder="Enter Address of University" value="{{ form_data.location|default_if_none:'' }}" required onchange="geocodeAddress()">
        </div>
        <div class="field-row">
            <div class="field">
                <label for="name">Latitude</label>
                <input type="text" id="latitude" name="latitude" placeholder="Enter Latitude of University" value="{{ form_data.latitude|default_if_none:'' }}" required>
                <div id="latitude-spinner" class="spinner" style="display: none;" ></div>
            </div>
            <div class="field">
                <label for="website">Longitude</label>
                <input type="text" id="longitude" name="longitude" placeholder="Enter Longitude of University" value="{{ form_data.longitude|default_if_none:'' }}" required>
                <div id="longitude-spinner" class="spinner" style="display: none;"></div>
            </div>
        </div>
        <div id="program-container">
            <div class="program-fields">
                <div class="field-row">
                    <div class="field">
                        <label for="program">Degree</label>
                        <div class="select-menu">
                            <div class="select-btn">
                                <span class="sBtn-text">Select Program</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
    
                            <ul class="options" name="program_type_0">
                                {% for value, name in program_types %}
                                    <li class="option" data-value="{{ value }}" {% if form_data.program_type == value %}selected{% endif %}>
                                        <span class="option-text">{{ name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                            <input type="hidden" id="program_type_0" name="program_type_0">
                        </div>
                    </div>
                    <div class="field">
                        <label for="program">Program</label>
                        <input type="text" name="program_0" placeholder="Enter Name of Program" value="{{ form_data.program|default_if_none:'' }}" required>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="add-program"><i class="fa-solid fa-plus"></i>Add Course</button>
        <button type="button" id="remove-program"><i class="fa-solid fa-minus"></i>Remove Course</button>
        <label for="input-file" id="drop-area">
            <input type="file" accept="image/*" id="input-file" name="logo" hidden>
            <div id="img-view">
                <img src="{% static 'img/upload.png' %}" style="height: 100px;">
                <p>Drag and drop or click here to upload logo</p>
            </div>
        </label>
        <button type="submit" id="submit-button">Add University</button>
    </form>
</div>
<div class="form-sidebar">
    <h2>Instructions</h2>
    <ul>
        <li>1. Provide the full official name of the University (Avoid using acronyms).</li>
        <li>2. Input the URL of the university's official website.</li>
        <li>3. Enter the complete address of the University, including the country.</li>
        <li>4. Provide the geographical coordinates (latitude and longitude) of the University. This should be automatically filled if the address is valid. You can obtain these from Google Maps or any reliable source.</li>
        <li>5. Select the type of degree for which the student is being admitted.</li>
        <li>6. Specify the name of the program or course the student is enrolling in.</li>
        <li>7. Upload the logo of the university. PNG format is preferred for better quality.</li>
        <li>8. Click on "Add Course" to add more courses, and "Remove Course" to delete any added courses.</li>
        <li>9. Once all the information is filled in, click on "Add University" to submit the form.</li>
    </ul>
</div>
{% for message in messages %}
<div class="custom-toast {{ message.tags }}">
    <button class="close-button">
        <i class="fas fa-times"></i>
    </button>
    <div class="toast-body">
        <i class="icon"></i> {{ message }}
    </div>
    <div class="toast-progress-bar"></div>
</div>
{% endfor %}
<script src="{% static 'js/file.js'%}"></script>
{% endblock %}