{% extends "base.html" %}
{% load static %}
{% load addcss %}
{% block title %}
Request Password Reset
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="password-container">
	<i class="fas fa-key"></i>
	<h2>Reset Password</h2>
	<form method="POST">
		{% csrf_token %}
		<label for="{{ form.email.id_for_label }}" class="custom-label">{{ form.email.label }}</label>
		{% with form.email as field %}
			<input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}" class="custom-email-field" placeholder="Enter your email" value="{{ field.value|default:'' }}" {% if field.field.required %}required{% endif %}>
		{% endwith %}
		<button type="submit">Send Reset Email</button>
	</form>
	<p>Not Registered yet? <a href="{% url "register" %}">Register Now</a></p>
	{% for error in form.non_field_errors %}
	<div>
		{{ error }}
	</div>
	{% endfor %}
</div>
{% for message in messages %}
<div class="custom-toast {{ message.tags }}">
	<button class="close-button">
		<i class="fas fa-times"></i>
	</button>
	<div class="toast-body">
		<i class="icon"></i> {{ message }}
	</div>
	<div class="toast-progress-bar"></div>
</div>
{% endfor %}
{% endblock content %}