{% extends "base.html" %}
{% block content %}
   <div class="content-section" style="width: 40%; margin: auto; height:max-content">
       <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Reset Password</legend>
                <div>
                    <br>
                    <p class="mb-3">Enter the email for the account password you forgot</p>
                </div>
                <br>
                {{ form }}
            </fieldset>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            <div class="form-group">
                <br>
                <br>
                <button class="btn btn-outline-info" type="submit">Send Reset Email </button>
            </div>
       </form>
   </div>
{% endblock content %}
