{% extends 'base.html' %}

{% block title %}
University Map
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Location</th>
                <th>Website</th>
                <th>Degree</th>
                <th>Program</th>
                {% if user.is_authenticated %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if markers %}
            {% for marker in markers %}
                <tr>
                    <td>{% if marker.logo %}<img class="uni-logo" src="{{ marker.logo.url }}" alt="{{ marker.name }} logo" />{% endif %}</td>
                    <td>{{ marker.name }}</td>
                    <td>{{ marker.location }}</td>
                    <td>{{ marker.website }}</td>
                    <td>{{ marker.get_program_type_display }}</td>
                    <td>{{ marker.program }}</td>
                    {% if user.is_authenticated %}
                    <td>
                        <a href="{% url 'edit_marker' pk=marker.pk %}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'delete_marker' pk=marker.pk %}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% for message in messages %}
<div class="custom-toast {{ message.tags }}">
    <button class="close-button">
        <i class="fas fa-times"></i>
    </button>
    <div class="toast-body">
        <i class="icon"></i> {{ message }}
    </div>
    <div class="toast-progress-bar"></div>
</div>
{% endfor %}
{% endblock %}