{% extends 'base.html' %}
{% load static %}

{% block title %}
University Map
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'search_markers' %}" method="get">
    <div class="search-input">
        <input type="text" id="search" name="query" placeholder="Search">
        <button type="submit" style="display: none;"></button>
        <label for="search" class="icon fas fa-search" onclick="this.parentNode.submit()"></label>
    </div>
</form>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Location</th>
                <th>Website</th>
                <th>Program</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if markers %}
            {% for marker in markers %}
            <tr data-search="{{ marker.name }} {{ marker.location }} {{ marker.website }} {% for program in marker.programs.all %}{{ program.get_program_type_display }} in {{ program.name }}{% endfor %}">
                <td>{% if marker.logo %}<img class="uni-logo" src="{{ marker.logo.url }}" alt="{{ marker.name }} logo" />{% endif %}</td>
                <td>{{ marker.name }}</td>
                <td>{{ marker.location }}</td>
                <td><a href="{{ marker.website }}" class="uni-title-link">{{ marker.website }}</a></td>
                <td>
                    {% for program in marker.programs.all %}
                        {{ program.get_program_type_display }} in {{ program.name }}<br><br>
                    {% endfor %}
                </td>
                {% if user.is_authenticated %}
                <td>
                    <a href="{% url 'edit_marker' pk=marker.pk %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <section>
                        <a class="show-modal" data-delete-url="{% url 'delete_marker' pk=marker.pk %}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <span class="overlay"></span>
                        <div class="modal-box">
                            <i class="fas fa-trash-alt"></i>
                            <h2>Delete University?</h2>
                            <h3>Are you sure you want to delete the university listing? This action is irreversible.</h3>
                            <h4>Tip: Hold shift to ignore this warning</h4>
                            <div class="buttons">
                                <button class="close-btn">Cancel</button>
                                <button><a href="{% url 'delete_marker' pk=marker.pk %}">Delete</a></button>
                            </div>
                        </div>
                    </section>
                </td>
                {% else %}
                <td>
                    <div class="table-spacer" style="height: 120px;"></div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><i class="fas fa-angle-double-left"></i></a> <!-- first page -->
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a> <!-- previous page -->
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number > i and page_obj.number|add:"-3" <= i %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        <span class="current">
            {{ page_obj.number }}
        </span>

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number < i and page_obj.number|add:"3" >= i %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a> <!-- next page -->
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a> <!-- last page -->
        {% endif %}
    </span>
</div>
{% for message in messages %}
<div class="custom-toast {{ message.tags }}">
    <button class="close-button">
        <i class="fas fa-times"></i>
    </button>
    <div class="toast-body">
        <i class="icon"></i> {{ message }}
    </div>
    <div class="toast-progress-bar"></div>
</div>
{% endfor %}
<script src="{% static 'js/modal.js'%}"></script>
<script src="{% static 'js/search.js'%}"></script>
{% endblock %}